@model IEnumerable<WebApplication2.Domain.Entities.Script>
@{
    ViewBag.Title = "Scripts";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <h2>Скрипты</h2>
        </div>
        <div class="border-shape col-md-8 col-lg-offset-3">
            @foreach (var item in Model)
            {
                <div class="border-header">
                    <h4>@item.Description</h4>
                </div>
                <div>
                    <p>@item.Scripts</p>
                </div>
                if (User.IsInRole("admin"))
                {
                    <div class="border-crud">
                        <span>
                            @Html.ActionLink("Редактировать", "EditScript", new {id = item.Id})
                        </span>
                        <span>|</span>
                        <span>
                            @Html.ActionLink("Удалить", "DeleteScript", new {id = item.Id})
                        </span>
                    </div>
                }
                <hr />
            }
        </div>
        @if (User.IsInRole("admin"))
        {
            <div class="btn btn-primary">
                @Html.ActionLink("Добавить", "AddScript")
            </div>
        }
    </div>
</div>
