<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyWork - @ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div>
        <h1>
            @ViewBag.Header
        </h1>
    </div>
    <div>
        @Html.ActionLink("На гланую", "", "")
        @RenderSection("header", false)
    </div>
    
    @RenderBody()

</body>
</html>
