<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EasyWork</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3"></script>
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>Easy Work</a>
                </li>
                <li>
                    @Html.ActionLink("Решения и проблемы", "ProblemDecision", "ProblemDecision")
                </li>
                <li>
                    @Html.ActionLink("Телефонный справочник", "Phones", "Default")
                </li>
                <li>
                    @Html.ActionLink("Скрипты", "Scripts", "Script")
                </li>
                <hr />
                <li>
                    @Html.ActionLink("Выход", "Logout", "Account")
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        @RenderSection("scpitps", required:false)
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - D.A.SHIMANOV</p>
        </footer>*@
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>