@model WebApplication2.Models.Identity.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
        <p>
            <label>Email</label>
            @Html.EditorFor(x => x.Email)
        </p>
        <p>
            <label>Password</label>
            @Html.EditorFor(x => x.Passord)
        </p>
        <p>
            <button type="submit">SignIn</button>
        </p>
    </div>
}