@model IEnumerable<WebApplication2.Domain.Entities.PhoneBook>  
@{
    ViewBag.Title = "Phones";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-offset-4">
            <h2>Телефонный справочник</h2>
            @if (User.IsInRole("admin"))
            {
                <div>
                    @Html.ActionLink("Добавить", "AddPhone")
                </div>
            }
        </div>
        <div class="border-shape col-md-8 col-lg-offset-3">
            @foreach (var item in Model)
            {
                <div class="border-header">
                    <h4>@item.Fio</h4>
                </div>
                <div>
                    <p>
                        <span>Номер телефона: </span>@item.PhoneNumber</p>
                    <p>
                        <span>Организация: </span>@item.Pochtamt</p>
                </div>
                if (User.IsInRole("admin"))
                {
                    <div class="border-crud">
                        <span>
                            @Html.ActionLink("Редактировать", "EditPhone", new {id = item.Id})
                        </span>
                        <span>|</span>
                        <span>
                            @Html.ActionLink("Удалить", "DeletePhone", new {id = item.Id})
                        </span>
                    </div>
                }
            }
        </div>
    </div>
</div>



