@model IEnumerable<WebApplication2.Domain.Entities.ProblemDecision>
@{
    ViewBag.Title = "ProblemDecision";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <h2>ProblemDecision</h2>
            @if (User.IsInRole("admin"))
            {
                <div>@Html.ActionLink("Добавить", "AddProblemDecision")</div>
            }
        </div>
        <div class="border-shape col-md-8 col-lg-offset-2">
            @foreach (var item in Model)
            {
                <div class="border-header">
                    <h4>@item.Problem</h4>
                </div>
                <div>
                    <p>@item.Problem</p>
                    <p>@item.Decision</p>
                </div>
                <div>
                    <span>Дата добавления: @item.DataAdditional</span>
                    <span>Версия ЕАС ОПС: @item.PosVersion</span>
                </div>
                if (User.IsInRole("admin"))
                {
                    <div class="border-crud">
                        <span>
                            @Html.ActionLink("Редактировать", "EditProblemDecision", new {id = item.Id})
                        </span>
                        <span>|</span>
                        <span>
                            @Html.ActionLink("Удалить", "DeleteProblemDecision", new {id = item.Id})
                        </span>
                    </div>
                }
            }
        </div>
    </div>
</div>
