@model IEnumerable<WebApplication2.Domain.Entities.ProblemDecision>
@{
    ViewBag.Title = "ProblemDecision";
}

<h2>ProblemDecision</h2>

<div>
    <table>
        <tr>
            <td>Проблема</td>
            <td>решение проблемы</td>
            <td>Дата добавления</td>
            <td>Версия ЕАС ОПС</td>
            <td>&nbsp;</td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Problem</td>
                <td>@i.Decision</td>
                <td>@i.DataAdditional</td>
                <td>@i.PosVersion</td>
                <td>
                    <span>
                        @Html.ActionLink("Редактировать", "", new
                        {
                            id = i.Id
                        })
                    </span>
                    <span>|</span>
                    <span>
                        @Html.ActionLink("Удалить", "", new
                        {
                            id = i.Id
                        })
                    </span>
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Добавить", "")
    </div>
</div>

