@model IEnumerable<WebApplication2.Areas.Admin.Models.User>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Пароль</td>
            <td>Удален</td>
            <td>Группа</td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Password</td>
                <td>
                    @if (i.IsDeleted)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>@i.GroupName</td>
                <td>
                    @if (!i.IsDeleted)
                    {
                        <span>
                            @Html.ActionLink("Edit", "EditUser", new {id = i.Id})
                        </span>
                        <span>|</span>
                    }
                    <span>
                        @if (i.IsDeleted)
                        {
                            <span>
                                @Html.ActionLink("Restore", "RestoreUser", new {id = i.Id})
                            </span>
                        }
                        else
                        {
                            <span>
                                @Html.ActionLink("Delete", "DeleteUser", new {id = i.Id})
                            </span>
                        }
                    </span>
                </td>
            </tr>
        }
    </table>

    <div class="text-center">
        @Html.ActionLink("Add user", "AddUser")
    </div>
</div>
